.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 5%;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

/* LOGO */
.logo {
  font-weight: bold;
  cursor: pointer;
  color: rgb(32, 169, 227);
}

/* NAV LINKS */
.nav-links {
  display: flex;
  gap: 30px;
  list-style: none;
}

.nav-links li {
  cursor: pointer;
  color: #475569;
}

.nav-links li:hover {
  color: #0ea5e9;
}

/* BUTTON */
.talk-btn {
  background: #0f172a;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 20px;
  cursor: pointer;
}

/* MENU ICON */
.menu-icon {
  display: none;
  font-size: 28px;
  cursor: pointer;
   color: #0f172a;
  z-index: 1100;
}

/* 🔥 MOBILE */
@media (max-width: 768px) {

  .menu-icon {
    display: block;
    padding: absolute;
    right: 20px;
    top: 18px;
  }

  .nav-links {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: white;

    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 0;

    transform: translateY(-150%);
    transition: 0.3s ease;
    z-index: 1000;
  }

  .nav-links.active {
    transform: translateY(0);
  }

  .talk-btn {
    display: none; /* hide button in mobile */
  }
}